<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"/>

<nav th:replace="layouts :: navbar"></nav>

<body>
<br>
<div class="container">

    <div class="container" style="margin-top: 30px;">
        <div class="centeredContainer col-lg-4 col-lg-offset-4" style="padding: 20px; ">
            <form autocomplete="off" th:action="@{/manager/saveItem}" th:object="${item}" method="POST"
                  role="form" class="centered form-signin needs-validation" novalidate>
                <h3 class="form-signin-heading">Add Item Form</h3>
                <div class="form-group" style="width: 360px">
                    <div class="">
                        <input type="text" placeholder="Item Name" th:field="*{name}" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <textarea type="text" placeholder="Enter Item Description" th:field="${item.description}"
                                  class="form-control" required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn btn-primary btn-block">Save item</button>
                    </div>
                </div>
                <!-- <span th:utext="${successMessage}"></span> -->
            </form>
        </div>
    </div>
</div>

</body>

</html>