<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: navbar"></nav>

<body>
<br>
<div class="container">
    <div class="login_form">
        <h1>Login</h1>
        <br>
        <form name='f' th:action="@{/login}" method='POST'>
            <fieldset>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and/or password
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <table>
                    <tr>
                        <td>User:</td>
                        <td><input type='text' name='username' value=''></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type='password' name='password' /></td>
                    </tr>
                    <tr>
                        <td><input name="submit" type="submit" value="submit" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>
        <a th:href="@{/register}" class="btn btn-primary btn-sm mb-3">
            Register
        </a>
    </div>
</div>
</body>
</html>


