<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"/>

<body>
<nav th:replace="layouts :: navbar"></nav>
<br>
<div class="container">
    <h4>Past Rentals</h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Tool id</th>
            <th>Tool name</th>
            <th>From</th>
            <th>Until</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prental : ${pastRentals}" >
            <td th:text="${prental.item.getItemId()}"/>
            <td th:text="${prental.item.getName()}"/>
            <td th:text="${prental.getStart()}"/>
            <td th:text="${prental.getEnd()}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>