<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts :: header"/>
<head th:replace="errorpages/errorLayout :: erHeader"/>
<body>
<nav th:replace="layouts :: navbar"></nav>
<br/>
<br/>
<div class="errorContainer">
    <div class="notfound-404">
        <img class="img" th:src="@{/img/403.jpg}"/>
        <div style="margin:50px;">
            <h1>403</h1>
            <h2>Forbidden</h2>
            <p>You are not authorized to access this content. You need to be logged in as a user with sufficient access rights.</p>
            <a th:href="@{/}">Go To Homepage</a>
        </div>
    </div>
</div>
</body>
</html>
