body{
    background-color: #ededed;
}
.login_panel{
    position: absolute;
    top: 17px;
    right: 14px;
}
.visible-item {
    display: flex;
}
.hidden-item{
    display: none !important;
}
.container{
    background-color: #A8D0E6;
    padding: 3%;
    text-align: center;
}
.login_form{
    display: table;
    margin: auto;
}
.centeredContainer{
    margin: auto;
    text-align: center;
    display: -webkit-box;
}
.centered{
    margin: auto;
}